* {
    font-family: 'Raleway', sans-serif;
}

.navbar-default {
  background-color #F2F4F7:
  border: none;
  opacity: 0.8;
  /*border-bottom: 2px solid #fff;*/
}
.navbar-default .navbar-brand {
  color: #FEB95B;
  /*border: 2px solid #fff;
  border-radius: 5px;*/
}
.navbar-default .navbar-brand:hover {
  color: #fff;
  background: #FEB95B;
}
.navbar-default .navbar-nav > li > a {
    color: #FEB95B;
    /*border-radius: 5px;
    border: 2px solid #fff;*/
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    background: #FEB95B;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

#hero {
  height:100%;
  overflow:visible;
  position:relative;
}
.jumbotron {
  background-image:url(../img/hero.jpg);
  background-repeat:no-repeat;
  background-position:center;
  background-attachment: fixed;
  background-size:cover;
  height: 100%;
}

.row.header {
  background: transparent;
  position: relative;
  -webkit-transform: translateY(40%);
  -ms-transform: translateY(40%);
  transform: translateY(40%);
}
.justincano {
  font-family: 'Arvo', sans-seriff;
  font-weight: bold;
  background: transparent;
  font-size: 5em;
  text-align: center;
  color: white;
}
.tagline {
  background: transparent;
  font-size: 2em;
  text-align: center;
  color: white;
}
.resume {
  margin-top: 15px;
  background: transparent;
  font-size: 1.5em;
  text-align: center;
  color: white;
}
.resume a {
  color: #fff;
  text-decoration: none;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
}
.resume a:hover {
  color: #FEB95B;
  text-decoration: none;
  background-color: #fff;
  border: none;
  opacity: 0.9;
}

/* SECTION 1 */
#section1 {
  text-align: center;
}
#section1 .about {
  font-size:1.25em;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* SECTION 2 */
#section2 .projects {
  /*background-color: #040D14;*/
  background-color: #F2F4F7;
  /*color: #21CE99;*/
  text-align: center;
}
#section2 .projects h1 {
  font-family: 'Lato', sans-seriff;
  font-weight: bold;
  font-size: 3em;
}
#section2 .content {
  background-color: #F2F4F7;
}
#section2 .container {
  background-color: #F2F4F7;
}
#section2 .project {
  text-align: center;
  padding: 0 50px 25px 50px;
}
#section2 .project-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* SECTION 3 */
#section3 {
  /*color: #21CE99;*/
  color: #fff;
}
#section3 .connect {
  background-color: #040D14;
  text-align: center;
}
#section3 .content {
  background-color: #040D14;
}
#section3 .container-fluid {
  background-color: #040D14;
  padding-bottom: 50px;
}
#section3 .projects h1 {
  font-family: 'Lato', sans-seriff;
  font-weight: bold;
  font-size: 3em;
}
#section3 .row.body {
  color: #21CE99;
}
#section3 .contact {
 font-size: 1.5em;
}
