html {
  height: 100%;
  margin: 0px;
}
body {
  margin: 0px;
  font-family: "Raleway", "Poppins", "Questrial", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: white;
  height: 100%;
}
#unsplash {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#pendulum-wrapper {
  z-index: 3;
  min-height: 100%;
}
#pendulum {
  position: absolute;
  width: 100%;
}
#pendulum canvas {
  display: block;
  margin: auto;
}
#overlay {
  background-color: SlateGray;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.45;
  -moz-opacity: 45%;
  -webkit-opacity: 45%;
  z-index: 1;
}
#copy {
  position: absolute;
  z-index: 2;
}
#hello {
  font-family: "Rokkitt", "Arvo", "Slabo 27px", serif;
  font-size: 5.5em;
  font-weight: 600;
  display: inline-block;
}
#greeting {
  font-family: "Raleway", "Poppins", "Questrial", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.25em;
}
