html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

/*
 * Projects Card Grid 
 */
.dialog-box {
    width: 50px;
}

.grid {
    /*padding-top: 65px;*/
}

/* Mobile-first */
.grid-item {
    width: 100%;
    margin-bottom: 10px;
}

/*
 * Section Paper List
 */
.section-item {
    font-size: 18px;
    margin: 7px 0 7px 0;
}

.section-item li {
    padding: 4px;
}

.section-title {
    margin-bottom: 2px;
}

.section-subtitle {
    margin: 2px 0 5px 0;
}

.paper-item {
    padding: 3px 20px 3px 20px;
}

/* Mobile-first */
.section-img {
    margin-top: 10px;
    max-width: 100%;
}

/*
 * Media Queries
 */
@media screen and (min-width: 480px) {
    .grid-item {
        width: 40%;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 960px) {
    .grid-item {
        width: 30%;
        margin-bottom: 15px;
    }

    .section-img {
        margin-top: 25px;
        max-width: 20%;
    }
}