html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

/* Mobile First */
/* Common Component attributes */
#hero {
  margin-top: 44px;
}

#hero-title {
  margin-top: 20px;
  position: absolute;
  display: table-cell;
  color: #bdbdbd;
  font-size: 1.25em;
  vertical-align: middle;
  text-align: center;
  z-index: 10;
  left: 0;
  right: 0;
}

#greeting {
  padding: 0px 0 50px 0;
}

.content-header {
  font-size: 3em;
}

.content-subheader {
  font-size: 1.5em;
  color: #1976d2;
}

.content-box {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 1.2em;
}

.parallax-box-title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #fff;
  padding: 50px 0 50px 0;
  font-size: 1.25em;
}

#portfolio-grid,
#experience {
  padding: 200px 0 50px 0;
}

#footer {
  text-align: center;
  color: #fff;
  bottom: 0;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.grid-item {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 100%;
  padding: 7px 0 7px 0;
}

/*
 * Media Queries
 */
/*@media screen and (max-width: 1224px) {*/
    /* Tablet or mobile phone */
/*}*/

/*@media screen and (min-width: 1225px) {*/
@media screen and (min-width: 840px) {
    /* Desktop or laptop */
    #greeting {
      padding: 150px 0 150px 0;
    }

    #hero-title {
      margin-top: 0px;
      font-size: 2.5em;
      transform: translate(0, 55%);
    }

    .content-header {
      font-size: 4em;
    }

    .content-subheader {
      font-size: 2.25em;
    }

    .content-box {
      width: 60%;
    }

    .parallax-box-title {
      padding: 150px 0 150px 0;
      font-size: 2.25em;
    }

    #portfolio-grid,
    #experience {
      padding: 450px 0 50px 0;
    }

    #footer {
      padding: 25px 20px 25px 20px;
      width: 75%;
    }

    .grid {
      width: 75%;
    }

    .grid-item {
      width: 20%;
      padding: 2.5%;
    }

    @media screen and (min-width: 1824px) {
        /* Huge screen */
        #hero-title {
          font-size: 4em;
          transform: translate(0, 55%);
        }

        .grid-item {
          /*width: 25%;*/
        }
    }
}
