html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

.dialog-box {
    width: 50px;
}

.grid {
    padding-top: 65px;
}

/* Mobile-first */
.grid-item {
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
    .grid-item {
        width: 40%;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 960px) {
    .grid-item {
        width: 30%;
        margin-bottom: 15px;
    }
}